<footer op-60>
  <p mt-6 text-sm text-slate>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://chat.x-sms.cn" target="_blank"
    >
      ChatGPT 轻松版
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://chat.x-sms.cn" target="_blank"
    >
      服务包月
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://chat.x-sms.cn/accounts" target="_blank"
    >
      付费账号
    </a>
  </p>
</footer>